<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}} 
</head>

<body>
   {{>navbar}}
    <!-- main header  -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
              <div class="row">
                  <!-- left side div -->
                  <div class="col-md-6 col-12 main_header_right align-items-center">
                    <figure>
                        <img src="photos/i1.jpg" alt="Polarizz17" class="img-fluid" title="Polarizz">
                    </figure>
                  </div>
                  <!-- right side div -->
                  <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to My World</p>
                    <h1>I am a  <span class="text_clr">Full Stack Developer</span> And a Student</h1>
                    <a href="https://github.com/polarizz17" target="_blank"><button>About me</button></a>
                  </div>

                  
                  
              </div>
            </div>
        </div>
    </div>

    <!-- footer code -->
{{>footer}}

</body>

</html>